*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-outer-height: 85px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );

    /*      COLORES     */
    --header-color: #c5dcf2;
    --primary-color: #ffffff;
    --second-color: #c6d4e1; 
    --grid-color: #bdb8ad;
    --icons-color: rgba(9, 65, 154, 0.664);
    --icons-color-hover: rgba(0, 20, 50, 0.813);;
    --text-black: #000000;
}

/*  HEADER  */

.responsive-wrapper{
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-outer{
    height: var(--header-outer-height);
    position: sticky;
    top: calc(var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
    background: var(--header-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-inner{
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-logo{
    display: block;
    height: calc(var(--header-inner-height) - 0px);
    z-index: 1;
}

.header-navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.header-navigation a{
    font-size: 1.125rem;
    margin-left: 1.85;
    position: relative;
    font-weight: 500;
    z-index: 1;
    text-decoration: none;
    color: var(--icons-color);
}

.header-navigation a:hover{
    color: var(--icons-color-hover);
}

/* para que la linea de abajo aparezca*/

.header-navigation a:hover:after{
    transform: scalex(1);
}

.header-navigation a:after{
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
    cursor: pointer;
}

.header-navigation a{
    margin-right: 50px;
}

/*      BODY       */

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--primary-color);
}

.card .card-title{
    text-decoration: none;
    font-size: 20px;
}

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
    height: 120px;
    overflow: hidden; /* Oculta el contenido que sobresalga */
}

.card-img img {
    width: 100%; 
    height: 100px; 
    object-fit: cover; 
}

.card-body {
    padding: 10px; 
    text-align: center; 
}

.card-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.icons{
    text-align: right;
    margin-top: 5px;
    padding: 15px;
}

.icons i{
    font-size: 20px;
    color: var(--text-black);
    transition: color 0.3 ease;
}

.icons i:hover{
    color: var(--second-color);
}

