*,
*:after,
*:before {
    box-sizing: border-box;
}

:root{
    --header-outer-height: 100px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );
    
    /* COLORES */
    --header-color: #c5dcf2;
    --second-color: #92b8e5;
    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --transition-color: #dfedf9;
    --icons: #c6d4e1;
}

/*  HEADER  */

.responsive-wrapper{
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-outer{
    height: var(--header-outer-height);
    position: sticky;   
    top: calc(var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
    background: var(--header-color); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-inner{
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-logo img{
    display: block;
    height: calc(var(--header-inner-height) + 2px);
    z-index: 1;
}

.header-navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.header-navigation a,
.header-navigation button{ 
    font-size: 1.125rem;
    color: var(--text-color-black);
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
    z-index: 1;
}

.header-navigation a{
    display: none;
    font-size: 1.125rem;
    color: var(--text-color-black);
    text-decoration: none;
}

.header-navigation button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
    transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
    cursor: pointer;
}


/*      PARA QUE EL BOTON DESAPARZCA CUANDO ES PANTALLA COMPLETA    */

@media (min-width: 800px){
    .header-navigation a{
        display: inline-block;
    }

    .header-navigation button{
        display: none;
    }
}

.header-navigation a{
    margin-right: 50px;
}

main{
    display: grid;
    grid-template-columns: 250px 1fr;
}

/*      BODY     */

.img-responsive{
    margin-top: 20px;
    padding: 0 20px;
}

.container{
    margin-top: 60px;
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background: var(--text-color-light)
}


/*      FOOTER      */

.footer {
    background: #212529;
    color: var(--text-color-light);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 
}

.footer-section li{
    list-style: none;
    margin-bottom: 5px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.footer-icons i{
    font-size: 80px;
    cursor: pointer;
    box-sizing: content-box;
    color: var(--icons);
    transition: color 0.3s ease;
}

.footer-icons i:hover {
    color: var(--text-color-light)

}

.footer-section .footer-icons .footer-icon:hover{
    color: #ffffff;
}

.contact-form{
    margin-bottom: 10px;
    margin: 10px auto;
    margin-left: 0;
    padding: 3px;
    max-width: 400px;
    border-radius: 5px;
}

.contact-form input,
.contact-form button{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
} 
