body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0; /* Quita márgenes */
  background-color: #f8f9fa; /* Fondo ligero */
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 20px; /* Espaciado interno */
  background: #fff; 
  border-radius: 8px; 
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.nav-pills .nav-link {
  font-weight: bold;
}

.tab-content {
  margin-top: 20px; /* Espaciado entre pestañas y contenido */
}

.btn a{
  color: #fff;
  text-decoration: none;
}

.btn a:hover{
  color: #fff;
  text-decoration: none;
}